<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css/delete-style.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% translate 'Отмена заказа' %}</title>
  <script>
  function Back() {
    window.history.back();
  }
  </script>
</head>

<body>
<div class="form-container">
  <div>
    <h2>{% translate 'Отмена заказа' %}</h2>
    <p>{% translate 'Вы уверены, что хотите отменить заказ?' %}</p>
    <form id="data-form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="button-container">
        <button type="submit" class="button-delete">{% translate 'Отменить' %}</button>
        <button type="button" onclick="Back()" class="button-back">{% translate 'Отмена' %}</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
