<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load cache %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }}</title>
</head>

<body>
    <div class="container">
        {% if user.pk == myuser.pk %}
            <h1>{% translate 'Ваш профиль' %}</h1>
        {% else %}
             <h1>{% translate 'Профиль пользователя' %}</h1>
        {% endif %}
        {% if user.is_authenticated %}
            {% cache 600 profile user.pk %}
                <div>
                    {% if user.profile_user.avatar %}
                        <img src="{{ user.profile_user.avatar.url }}" alt="{{ user.profile_user.avatar.name }}" class="avatar">
                    {% else %}
                        {% translate 'Не удалось загрузить фото профиля' %}
                    {% endif %}
                </div>
                <h3>
                    {% if user.is_staff %}
                        <p>{% translate 'Администратор' %}</p>
                    {% endif %}
                    {{ user.username }}
                </h3>
                <h2>{% translate 'Подробнее' %}</h2>
                <p>{% translate 'Дата регистрации' %}: {{ user.date_joined }}</p>
                {% translate "Отсутствует" as unknown %}
                <div class="user_first_last_name">
                    <p>{% translate 'Имя' %}: {{ user.first_name|default:unknown }}</p>
                    <p>{% translate 'Фамилия' %}: {{ user.last_name|default:unknown }}</p>
                </div>
                <p>{% translate 'Почта' %}: {{ user.email|default:unknown }}</p>
                <p>{% translate 'О себе' %}: {{ user.profile_user.bio|default:unknown }}</p>
            {% endcache %}
            {% else %}
                <h2>{% translate 'Вы не авторизованы' %}</h2>
            {% endif %}
        <div class="links">
            <div>
                <a href="{% url 'myauth:profile_list' %}">{% translate 'Список пользователей' %}</a>
            </div>
            {% if user.pk == myuser.pk or myuser.is_staff %}
                <div>
                    <a href="{% url 'myauth:profile_edit' pk=user.pk %}">{% translate 'Редактировать профиль' %}</a>
                </div>
                {% if user.pk == myuser.pk %}
                    <div>
                        <a href="{% url 'myauth:logout' %}">{% translate 'Выйти' %}</a>
                    </div>
                {% endif %}
            {% else %}
                <div>
                    <a href="{% url 'myauth:profile' pk=myuser.pk %}">{% translate 'Перейти на свой профиль' %}</a>
                </div>
            {% endif %}
        </div>
    </div>
</body>
