<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load cache %}
{% cache 200 users_list %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css/profile-list.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% translate 'Список пользователей' %}</title>
</head>
<body>
<h1>{% translate 'Пользователи' %}</h1>
{% if users %}
<table>
  <tr>
    <th>{% translate 'Аватар' %}</th>
    <th>{% translate 'Имя пользователя' %}</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>
      {% if user.profile_user.avatar %}
        <p><img src="{{ user.profile_user.avatar.url }}" alt="{{ user.profile_user.avatar.name }}" class="avatar"></p>
      {% else %}
        {% translate 'Не удалось загрузить фото профиля' %}
      {% endif %}
    </td>
    <td>
      <a href="{% url 'myauth:profile' pk=user.pk %}">{{ user.username }}</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
  <h3>{% translate 'Нет пользователей' %}</h3>
{% endif %}
<div>
    <a href="{% url 'myauth:profile' pk=myuser_id %}">{% translate 'Вернуться к профилю' %}</a>
</div>
</body>
</html>
{% endcache %}
