body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
    margin: 10px ;
}

p {
    color: #777;
    margin: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user_first_last_name p {
       margin: 5px;
}

.links {
       display: flex;
       justify-content: center;
       align-items: center;
}

.links div {
    padding: 10px;
}
